// COLORS
$chorus_blue:           #35a6e8;
$chorus_dark_blue:      #407ec9;
$chorus_navy_blue:      #182636;
$chorus_purple:         #7d55c7;
$chorus_light_red:      #ff8574;
$chorus_teal:           #2ad2c8;

$grey:                  #f5f8f9;
$darker_grey:           #d5d6d6;
$default_font_color:    #434343;

$module_background:     $grey;
$navigation_purple:     #7d55c7;

// FONTS
$MuseoSans100:        'MuseoSans100', sans-serif;
$MuseoSans300:        'MuseoSans300', sans-serif;
$MuseoSans500:        'MuseoSans500', sans-serif;
$MuseoSans700:        'MuseoSans700', sans-serif;
$MuseoSans900:        'MuseoSans900', sans-serif;
$MuseoSans900Italic:  'MuseoSans900Italic', sans-serif;

// ELEMENT PROPERTIES
$navigation_height:   68px;

